services:
  db:
    image: postgres:17
    container_name: blog-postgres-db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      DATABASE_URL: ${DATABASE_URL}

    ports:
      - 5432:5432

    volumes:
      - pgdata:/var/lib/postgresql/data

    restart: always
  
  web:
    build: 
      context: .
      dockerfile: Dockerfile
    environment:
      DATABASE_URL: ${DATABASE_URL}
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - 3000:3000

volumes:
  pgdata: